body {
    text-align: center;
    min-width: 200px;
    height: auto;
    margin: auto;
    justify-content: center;
}

.container {
    text-align: center;
    margin-top: 10px;
    width: 80%;
    display: inline-block;
}

@media (max-width: 400px) {
    body {
        display: inline-block;
    }
}